* {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: xxx-large;
}


.header-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: black;
    z-index: -1;
}

.logo-cont {
    margin: 10px 30px;
    float: left;
}

.logo-cont a {
    text-decoration: none;
}

.logo {
    color: white;
    font-size: 80px;

}

.box-cont {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    padding: 30px;
    margin: 20px;
}

.box-cont a {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 30px;
}

.box-cont a:hover {
    text-decoration: underline;
    color: whitesmoke;

}

li {
    font-size: 20px;
    text-align: left;
}

li.MD {
    float: left;
}

#track {
    font-size: xx-large;
}

.tt-container {
    width: 100vw;
    height: 90vh;
    background-color: black;
}

.image-mick {
    float: right;
    width: auto;
    height: auto;
    padding-left: 15px;
}

.image-mick1 {
    float: right;
    width: 400px;
    height: auto;
    margin:20px auto;
    display: block;
    max-width: 100%;
}

.tt-h2 {

    color: black;
    text-decoration: underline;
    margin: 2rem 5rem 0 0;
    padding-top: 0;
    text-align: left;
    font-size: 40px;
}

.tt-list {
    color: black;
    text-align: justify;
    padding-top: 100px;
    list-style: disc;

}

.tt-list li {
    font-size: 25px;
    padding: 10px;

}

.track-cont {
    width: 100vw;
    height: 80vh;
    background-color: white;

}



.track-h1 {
    font-size: 40px;
    margin-left: 10rem;
    padding: 20px;
    color: black;
    text-align: right;
}

.track-text {
    color: black;
    text-align: left;
    padding-left: 20px;
    display: inline-block;


}

.track-text li {
    font-size: 25px;
    padding: 10px;
}

img.track {
    float: left;
    scale: 300%;
    
}



img {


    float: left;
    max-width: 200px;
    max-height: 300px;
    width: 130px;
    height: 80px;
    margin-right: 20px;
    padding-bottom: 90px;
    
    

}


img.pic {
    float: left;
    margin: 4px;
    width: 250%;
    height: 250%;
}


footer {
    position: relative;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 60px;
    color: black;
    padding: 30px;
    margin-bottom: 20px;
}

.footernl {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 60px;
    color: black;
    padding: 30px;
    margin-bottom: 20px;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0%;

}



.wrapper {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 60px;
}


.footerhome {
    position: absolute;
    bottom: 0%;
    left: 0;
}


ul.john {
    padding: 30px;
    float: right;

}

section {
    padding: 30px;
}

p.md {
    text-align: justify;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

p.dd {


    font-size: 32px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}



body {
    margin: 20px;
    text-align: center;
}

h1 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-decoration: underline;


}

img.ph {
    float: left;
    margin: 4px;
    width: 350%;
    height: 350%;

}

h2.MD {
    background-color: black;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

h2.other {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


form.section {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}


label.name {
    
    font-weight: bold;
    padding-right: 10px;
}

.social-list {

    font-size: large;
    align-items: baseline;
}

.form {
    color: white;
    font-size: xx-large;
    text-align: right;
}

.footersocial {

    position: fixed;
    scale: 150%;
}




.thank-you-page {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .thank-you-page h1 {
    color:black
  }

  thank-you-page p {
    font-size: 20px;
  }