* {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: xx-large;
}

.header-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: black;
    z-index: -1;
}

.logo-cont {
    margin: 10px 30px;
    float: left;
}

.logo-cont a {
    text-decoration: none;
}

.logo {
    color: white;
    font-size: 80px;
}

.box-cont {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    padding: 30px;
    margin: 20px;
}

.box-cont a {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 30px;
}

.box-cont a:hover {
    text-decoration: underline;
    color: whitesmoke;

}

li {
    font-size: 30px;
}